* {
   font-family: "aileron", sans-serif;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-size: large;
}

header {
   text-align: center;
}

main {
   margin: auto;
   text-align: center;
   width: 100%;
   font-size: 2rem;
}

#hovedmenu {
   width: 100%;
   background-color: rgba(240, 240, 238, 255);
}

p {
   text-align: left;
   color: #272727;
}
.grid_p {
   width: 70%;
   color: #272727;
   padding: 0 0 10% 10%;
}

.grid_p_left {
   width: 90%;
   padding: 0 0 10% 20%;
   color: #272727;
}

a {
   color: rgba(75, 150, 212, 0.7);
   text-decoration: none;
}

a:hover {
   opacity: 0.6;
   color: rgb(250, 246, 222);
}

/*den store header på tips and tricks siden*/ 
   #tipsheader {
      margin: -240px 0 120px 0;
      text-align: center;
      font-size: 70px;
      color: rgba(230, 227, 227, 0.856);
      font-weight: lighter;
   }

/*h2 header på tips and tricks*/
   #tipsh2{
      margin: -130px 0 120px 0; 
      text-align: center; 
      font-size: 30px; 
      color: rgba(255, 255, 255, 0.856); 
      font-weight: lighter;
   }

   #besttipsHeader {
      padding-top: 2%; 
      padding-bottom:4%; 
      margin-top: 2%; 
      font-size: 140%;
   }

/* Bunden af dokumentet */
footer {
   background-color: #272727;
   padding-top: 3%;
   padding-bottom: 3%;
}
/* placere billederne i midten */
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

/*Up arrow*/
#up {
   margin-top: -5%;
   font-size: 60px;
   float: left;
   color:#dc9b5a;
}

#mainPic {
   height: 400px;
}

figcaption{
   text-align: left;
   font-size: 14px;
   font-family: 'barlow';
   color: #272727;
}

ol{
   margin-left: 15%;
   list-style-position: inside; /*makes sure the numbered lists left margin is even*/
}


/*som udgangspunkt er brødteksten skjult*/
/* aside h2+* {
   display: none;
   text-align: center;
}

main h5 {
   font-weight: lighter;
   letter-spacing: 3px;
} */


/*Hvis skærmen er mindre en 800px, så bliver baggrundsfarven gul*/

@media screen and (max-width:1230px) {
   nav {
      width: 100%;
   }
}

@media screen and (max-width:1115px) {
   #mainPic {
      height: 350px;
   }
}


@media screen and (max-width:640px) {
   #mainPic {
       height: 250px;
   }
}

@media screen and (max-width:400px) {}