* {
   font-family: "aileron", sans-serif;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-size: large;
}

header {
   text-align: center;
}

main {
   margin: auto;
   text-align: center;
   width: 100%;
   font-size: 2rem;
}

#hovedmenu {
   width: 100%;
   background-color: rgba(240, 240, 238, 255);
}

p {
   text-align: center;
   color: #272727;
}

.grid_p {
   color: #272727;
   text-align: left;
   margin: 0% 8% 8% 8%;

}

.grid_p_left {
   color: #272727;
   text-align: left;
   margin: 0% 10% 8% 10%;
}

a {
   color: rgba(75, 150, 212, 0.7);
   text-decoration: none;
}

a:hover {
   opacity: 0.6;
   color: rgb(250, 246, 222);
}

/* Bunden af dokumentet */
footer {
   background-color: #272727;
   padding-top: 3%;
   padding-bottom: 3%;
}
/* placere billederne i midten */
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

/*Up arrow*/
#up {
   margin-top: -5%;
   font-size: 60px;
   float: left;
   color:#dc9b5a;
}

#mainPic {
   height: 400px;
   object-fit: cover;  
   object-position: 100% 100%;
}

/*Headers and other*/

#h1banner {
   margin: -280px 0 160px 0;
   text-align: center;
   font-size: 80px;
   color:white;
   font-family: 'barlow';
   font-weight: 200;
   font-style: normal;
   padding-bottom: 60px;
}

#pbanner {
   margin: -190px 0 140px 0;
   text-align: center;
   font-size: 24px;
   color: white;
   font-style: italic;
}

h1 {
   color: #272727;
   font-size: 2vw;
   font-family: 'barlow';
   color: #272727;
   padding-bottom: 3%;
}

/*Headers and other*/
h2 {
   text-align: center;
   font-size: 1.2vw;
   font-family: 'barlow';
   color: #272727;
   padding-bottom: 3%;
}

h3 {
   font-size: 1vw;
   font-family: 'barlow';
   color: white;
   padding-bottom: 2%;
}

h4{
   color: rgba(255, 255, 255, 0.8);
   padding-bottom: 2%;
   font-family: 'barlow';
}

h5{
   text-align: center;
   padding: 2%;
   font-size: 60%;
   font-family: 'barlow';
   color: #272727;
}

figcaption{
   text-align: left;
   font-size: 14px;
   font-family: 'barlow';
   color: #272727;
}

ol{
   margin-left: 15%;
   list-style-position: inside; /*makes sure the numbered lists left margin is even*/
}

@media screen and (max-width:1115px) {
   #mainPic {
      height: 350px;
   }

   #h1banner{
      font-size: 64px;
      margin: -230px 0 160px 0;
  }

  #pbanner{
      font-size: 18px;
      margin: -190px 0 70px 0;
  }
  h1 {
   font-size: 3vw;
  }
}

@media screen and (max-width:840px) {
   h1 {
      font-size: 4vw;
   }
   h2 {
      font-size: 2.2vw;
   }
   h3 {
      font-size: 2vw;
   }

}


@media screen and (max-width:640px) {
   #mainPic {
       height: 250px;
   }

   h1 {
      font-size: 5vw;
   }
   h2 {
      font-size: 3vw;
   }
   h3 {
      font-size: 2.6vw;
   }
}

@media screen and (max-width:400px) {
   h1 {
      font-size: 5vw;
   }
   h2 {
      font-size: 2.2vw;
   }
   h3 {
      font-size: 2vw;
   }
}